extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style 
      include ../static/style.css
       
block content
    section#introSection
        div Welcome to Harry's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/q.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/p.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/s.png")
                div.card-content
                    p This is the best dance academy of the universe
    section#sponsorsSection
    h2 Our Sponsors
    div#sponsers
       img(src= "/static/img/apple.jpg", alt= "Sponsor Image", class= "spImage")
       img(src= "/static/img/Dell.jpg", alt= "Sponsor Image", class= "spImage")
       img(src= "/static/img/hp.png", alt= "Sponsor Image",  class = "spImage" )
       img(src= "/static/img/microsoft.jpg", alt= "Sponsor Image", class= "spImage")
